<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Golden Mall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">Почетна</a>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a asp-area="" asp-controller="Categories" asp-action="Index">Категории</a>
                    <a asp-area="" asp-controller="Subcategories" asp-action="Index">Подкатегории</a>
                    <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=13>Шопинг</a>
                    <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=14>Храна</a>
                    <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=15>Услуги</a>
                    <a asp-area="" asp-controller="Employees" asp-action="Index">Вработени</a>
                    <a asp-area="" asp-controller="Employment" asp-action="Index">Вработувања</a>
                    <a asp-area="" asp-controller="Applications" asp-action="Index">Апликации</a>
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Корисници</a>
                }
                else if (User.IsInRole("Employee"))
                {
                    <a asp-area="" asp-controller="Employments" asp-action="About">За мене</a>
                    <a asp-area="" asp-controller="Employments" asp-action="MyEmployments">Мои продавници</a>
                }
            }
            else
            {
                <a asp-area="" asp-controller="Home" asp-action="About">За нас</a>
                <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=13>Шопинг</a>
                <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=14>Храна</a>
                <a asp-area="" asp-controller="Shops" asp-action="Index" asp-route-id=15>Услуги</a>
                <a asp-area="" asp-controller="Applications" asp-action="Apply">Аплицирај</a>
            }
        <div class="topnav-right">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Account" asp-action="UserInfo">@(User.Identity.Name)</a>
                <a asp-area="" asp-controller="Account" asp-action="Logout">Одјава</a>
            }
            else
            {
                <a asp-area="" asp-controller="Account" asp-action="Login">Најава</a>
            }
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2020 - Golden Mall - <a asp-area="" asp-controller="Home" asp-action="About" style="color:chocolate">За нас</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
