@model IEnumerable<ShoppingMall.Models.Category>

@{
    ViewData["Title"] = "Категории";
}

<h1>Категории</h1>

<p>
    <a asp-action="Create" class="admin">Додади</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="admin">Уреди</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="admin">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>
