
@{
    ViewData["Title"] = "За нас";
}

<h1>За нас</h1>

<p>Golden Mall е првиот современ трговски центар во Македонија со потполно нов концепт кој ги обединува шопингот, забавата и дружењето. Како најголем центар од ваков карактер во регионот, Golden Mall полека прераснува во новото обележје на модерно Скопје.</p>
<p>Со својата уникатност, подеднакво и во понудата и во дизајнот, Golden Mall привлекува посетители од целата држава и пошироко нудејќи им неповторливо искуство преку една нова димензија на шопингот.</p>
<p>Освен модните брендови, понудата ги опфаќа и сите сервисни услуги, потреби за домаќинство, козметика и убавина, книжарница, детски катчиња со забавен и едукативен карактер, тематски и семејни ресторани, брза храна, кафулиња, кино, куглана и многу други содржини кои заедно придонесуваат купувањето и дружењето да станат вистинска, врвна забава.</p>
<p>Со своите 150 продавници меѓу кои се вбројуваат светски реномирани брендови како и локални трговски марки, Golden Mall ја има најбогатата понуда за женска, машка и детска мода, играчки, чевли, модни додатоци, накит, техничка опрема, хипермаркет и други содржини кои ја комплетираат понудата.</p>
<p>Конструиран од американската архитектонска компанија Laguarda Low, со богато искуство во изградба на комерцијални објекти, дизајнот на Golden Mall е современ и единствен во својот изглед. Екстериерот со живописно уредени кафе барови и места за седење овозможува максимално уживање во пријатната скопска клима.</p>

<dl class="row">
    <dt class="col-sm-2">
        Адреса:
    </dt>
    <dd class="col-sm-10">
        Љубљанска 4, Скопје, Македонија
    </dd>
    <dt class="col-sm-2">
        Работно време:
    </dt>
    <dd class="col-sm-10">
        Секој ден 10:00 – 22:00
    </dd>
    <dt class="col-sm-2">
        Контакт:
    </dt>
    <dd class="col-sm-10">
        Фиксен телефон: (+389) 2 3217012, мобилен телефон: (+389) 72 256 913  
    </dd>
</dl>