@{
    ViewData["Title"] = "Почетна";
}

    <div class="text-center">
        <h1 class="display-4" style="color:darkgoldenrod;font-family:FangSong"><b>Golden Mall</b></h1>
        <h5 style="color: darkkhaki">Добредојдовте на официјалната web страна на најголемиот, најмодерниот и бескомпромисно <b>најдобриот</b> mall во Македонија! Погледнете ги нашите реномирани продавници и услугите што ги нудиме.</h5>
        <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=1190x10000:format=jpg/path/sa6549607c78f5c11/image/i925528f6d2e2d72d/version/1457437394/best-shopping-centers-in-europe-zlote-tarasy-copyright-patryk-kosmider-european-best-destinations.jpg" />
        <h4 style="color:darkkhaki">Сакаш да станеш дел од тимот на Golden Mall? Аплицирај <b><a asp-controller="Applications" asp-action="Apply" style="color:darkgoldenrod">овде</a></b>!</h4>
    </div>
